################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AYA-UIS
/.vs
/AYA_UIS_Frontend/.vs
